@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif !important;
}
@layer components {
  /* .blur {
    background: rgba(253, 120, 43, 0.69);
    position: absolute;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -9;
  } */
  body {
    @apply bg-[#001102] text-white;
  }
  .container{
    @apply w-[90%] my-0 mx-auto
  }
}
